<!DOCTYPE html>
<html>
    <head>
        Hello world! This is my first page.
    <title>First page</title>
    </head>
    <body>
        
        <h1 align="middle"> I'm Yana Barinova and welcome to my personal page!</h1>
        
        <p  align="left" > <font color=#4B0082 face="Arial">I’m currently a first year Master student in ITMO University and my major is cybersecurity. </font></p>
        <p  align="left"> <font color=#4B0082 face="Arial">Actually, I have a bachelor’s degree in information security, and I graduated with honors. </font></p>
        <p  align="left"> <font color=#4B0082 face="Arial">Besides studying at the University, I work as a teacher of programming for children. </font></p>
        <p  align="left"> <font color=#4B0082 face="Arial">Thanks to this job I got pretty good communication skills, conflict resolution and, last but not least, it is a positive attitude 😊 </font></p>
        <br><a href="/info"> kitty (test picture) </a>
        <p><font size="3" color=#00008B face="Arial">If you have some questions, please e-mail me at byvvv@yandex.ru</font></p>
        <p><font size="3"color=#00008B face="Arial">And last but not least, there is my GitHub page - https://github.com/yanchez</font></p>
        <!-- <img src="/backend/static/cat.jpg"> -->
        <p><font size="5" color=#4B0082 face="Arial">Have a great day.</font></p>

    </body>
</html>