<!DOCTYPE html>
<html>
    <head>
        Hello world! This is my first page.
    <title>First page</title>
    </head>
    <body>
        <h1 align="middle"> I'm Yana Barinova and welcome to my personal page!</h1>
        <p  align="left"> I’m currently a first year Master student in ITMO University and my major is cybersecurity. </p>
        <p  align="left"> Actually, I have a bachelor’s degree in information security, and I graduated with honors. </p>
        <p  align="left"> Besides studying at the University, I work as a teacher of programming for children. </p>
        <p  align="left"> Thanks to this job I got pretty good communication skills, conflict resolution and, last but not least, it is a positive attitude 😊 </p>
        <br><a href="/info"> little more information </a>
        <p>If you have some questions, please e-mail me at byvvv@yandex.ru</p>
        <p>And last but not least, there is my GitHub page - https://github.com/yanchez</p>
        <img src="/backend/static/cat.jpg">
        <p> Have a great day.</p>

    </body>
</html>